# Yarn #
########
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cache #
#########
coverage
tsconfig.tsbuildinfo
.eslintcache

# Artifacts #
#############
dist
bundle

# Testing #
###########
test.mjs
cache.json
